// root
#layout-root {
    width: 100%;
    height: 100%;
    grid-template:
        'toolbar hierarchy viewport assistant attributes' 1fr
        'toolbar hierarchy assets assistant attributes' auto
        'toolbar console console console console' auto / 45px auto 1fr auto auto;
}

// left toolbar
#layout-toolbar {
    grid-area: toolbar;
    min-width: 0;
    min-height: 0;
}

// hierarchy panel
#layout-hierarchy {
    grid-area: hierarchy;
    min-width: 0;
    min-height: 0;
}

// secondary attributes panel
#layout-attributes-secondary {
    grid-area: attributes;
    min-width: 0;
    min-height: 0;

    > .pcui-panel-content {
        overflow: hidden auto;
    }
}

// 3d viewport
#layout-viewport {
    grid-area: viewport;
    min-width: 0;
    min-height: 0;
    background-color: black;
}

// assets panel
#layout-assets {
    grid-area: assets;
    min-width: 0;
    min-height: 0;
}

// assistant panel
#layout-assistant {
    grid-area: assistant;
    min-width: 0;
    min-height: 0;
}

// attributes inspector
#layout-attributes {
    grid-area: attributes;
    min-width: 0;
    min-height: 0;
}

#layout-attributes.layout-attributes-left {
    grid-area: hierarchy;
}

// console
#layout-console {
    grid-area: console;
    z-index: 1; // bring status bar in front of possible overlays
    min-width: 0;
    min-height: 0;
}
